<!DOCTYPE html>
<html ng-app='weatherApp'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <title>Collie Weather</title>

  <!-- boostrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="css/main.css">
  
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!-- angular: relative link -->
  <!-- <script src="/bower_components/angular/angular.min.js"></script> -->
  
  <!-- absolute link -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js"></script>
    
  <!-- angular route: relative link -->
    <!-- <script src="/bower_components/angular-route/angular-route.min.js"></script> -->

    <!-- angular route: absolute link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>

  <!-- ui router -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>

  <!-- satellizer -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/satellizer/0.13.4/satellizer.min.js"></script>

  <!-- custom script (angular app) -->
  <script src="/js/app.js"></script>


  <!-- <script src="/js/client.js"></script>  
  <script src="/js/controllers/users.js"></script> 
  <script src="/js/controllers/locations.js"></script> 
  <script src="/js/controllers/activities.js"></script>  -->
  <!-- <script src="/js/controllers/weather.js"></script> -->

  <!-- Clock font -->
 <!--  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"> -->
 <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400, 700" rel="stylesheet">

  <!-- Clock script -->
  <script>
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML =
        h + ":" + m;
        var t = setTimeout(startTime, 500);
      }
      function checkTime(i) {
          if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
          return i;
      }
  </script>

</head>
<body ng-controller="MainController as main" onload="startTime()">
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <!-- Hamburger button -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- main nav -->
      <div class="collapse navbar-collapse row" id="bs-example-navbar-collapse-1">
        
      <!-- LOGO -->
      <!-- <div class"><a href="/"><img id="logo" src="./assets/logo.png"></a></div> -->

      <!-- Buttons -->
      <div class="nav-buttons">
        <ul class="nav navbar-nav col-md-6">

          <!-- <li><a href="/">Home</a></li> -->
          <!-- <li><a href="/display">Weather</a></li> -->

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/weather">Weather</a></li>
          <li><a href="/ski">Ski</a></li>
          <li ng-show="!main.currentUser()"><a ui-sref="signup">Signup</a></li>
          <li ng-show="!main.currentUser()"><a ui-sref="login">Log In</a></li>
          <li ng-show="main.currentUser()"><a ui-sref="profile">\{{main.currentUser().username}}</a></li>
          <li ng-show="main.currentUser()"><a ui-sref="logout">Log Out</a></li>
        </ul>
      </div>
      </div><!-- /.collapse navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<!-- LOGO -->
<div><a href="/"><img id="logo" src="./assets/logo.png"></a></div>

<!-- Clock -->
<div id="clock-container" class="container-fluid">
  <div id="txt" class="clock"></div>
</div>



<!-- ui-view -->
<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view>
      </div>
    </div>
</div>

<!-- FROM THE DEVS MODAL -->
<div class="dev-modal-container">
  <a type="button" data-toggle="modal" href="#myModal" class="btn btn-primary center-block"><span id="dev-button-text">From the Devs</span></a>
</div>

<!-- Modal -->

<div class="container modal-container">
  <div class="row modal-row">
    
    
  <div id="myModal" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
 
                <div class="modal-header">
                    <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                    <h2 class="modal-title center-block">Team COllieWeather</h2>
                </div>
                <div class="modal-body">
                    <div class="row row-faces">

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="hovereffect">
                                <img class="img-responsive faces" src="http://i.imgur.com/PvpXwWh.png">
                                <div class="overlay">
                                   <a class="info" href="#">portfolio</a>
                                </div>
                                <br>
                                <span class="names">Merry Schurr</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="hovereffect">
                                <img class="img-responsive faces" src="http://i.imgur.com/QmZ2fHx.png">
                                <div class="overlay">
                                   <a class="info" href="http://www.larrykraus.com">portfolio</a>
                                </div>
                                <br>
                                <span class="names">Larry Kraus</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="hovereffect">
                                <img class="img-responsive faces" src="http://i.imgur.com/WA3EDl8.png">
                                <div class="overlay">
                                   <a class="info" href="http://www.guyliechty.com">portfolio</a>
                                </div>
                                <br>
                                <span class="names">Guy Liechty</span>
                            </div>
                        </div>

                        <div class="facebox col-md-3 col-sm-3 col-xs-3">
                            <div class="hovereffect">
                                <img class="img-responsive faces" src="http://i.imgur.com/MinncjX.png">
                                <div class="overlay">
                                   <a class="info" href="http://www.micahwierenga.com">portfolio</a>
                                </div>
                                <br>
                                <span class="names">Micah Wierenga</span>
                            </div>
                        </div>
                    
                    </div>
                <hr/>
          <p>Collie Weather was designed by four developers in Colorado who were sick and tired of user-unfriendly, overly complex, and maddeningly abstruse weather apps.</p>
          <p> 'Hey', they said as a group, 'can't there be a simple app, to tell me basic things like temperature and precipitation, right where I live, or where I'm going for the weekend?' They quickly devised a scheme, and hit the whiteboard, ideas cascading from their permanent markers like buggy error messages populating the console.</p>
          <p> 'No one wants ALL the weather info you can get, but some want more than others,' Larry thought, outloud, stroking the stubble on his chin meditatively. 'Let the people decide,' Larry said with raised eyebrows and crossed arms.</p>
          <p> The fully-customizable, user-friendly and activity-specific weather app was born.</p>
                </div><!-- /.modal-body -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.myModal -->
    </div><!-- /.row -->
</div><!-- /.container -->

</body>
</html>