body {
	background-image: url("../assets/mountain-01.jpg");	
	background-size: 100%;
	background-repeat: no-repeat;
}

h1 {
	color: red;
}

.navbar {
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

.canvas {
	height: 400px;
	width: 600px;
	background-color: rgba(125, 125, 125, 0.5);
	border-radius: 20px;
	margin: 0 auto;
	margin-top: 80px;
}

div.canvas > p, h3 {
	padding-left: 20px;
	padding-right: 20px;
}

.cityname {
	text-align: center;

}

.tileContainer {
	padding: 8px;
}

.tile {
	display: inline-block;
	width: 80px;
	height: 110px;
	border-radius: 5px;
	background-color: #eee;
}

.navText {
	color: black;
}

.loginFields {
	display: inline-block;
	text-align: left;
}
img#logo{
	float: left;
	padding: -50px;
	display: flex;
	width: 20%;
	z-index: 1;
}
img:hover{
	background: rgba(206, 206, 216, 0.2); 
}
nav.navbar.navbar-default{
/*	background: linear-gradient(rgba(63, 63, 191, .73), rgba(63, 63, 191, 0.23));
	z-index: 1;
	position: fixed;
}*/
	background: rgba(165, 165, 165, .6);
}

