/*Dropdown css*/

body {
    margin: 30px 0px;
}
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}
/*End Dropdown CSS*/

/*Modal CSS*/

.modal .modal-header {
  border-bottom: none;
  position: relative;
}
.modal .modal-header .btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}
.modal .modal-footer {
  border-top: none;
  padding: 0;
}
.modal .modal-footer .btn-group > .btn:first-child {
  border-bottom-left-radius: 0;
}
.modal .modal-footer .btn-group > .btn:last-child {
  border-top-right-radius: 0;
}
.faces{
	width: 100%;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	margin: 0 auto;
}
a.btn{

	width: 15%;	
}
div.modal-header{
	text-align: center;
}
div.facebox{
	display: inline-block;
	width: 24%;
}

/*End Modal CSS*/

body {
	background-image: url("../assets/mountain-01.jpg");	
	background-size: 100%;
	background-repeat: no-repeat;
}

h1 {
	color: red;
}

.navbar {
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

.canvas {
	height: 400px;
	width: 600px;
	background-color: rgba(125, 125, 125, 0.5);
	border-radius: 20px;
	margin: 0 auto;
	margin-top: 80px;
}

div.canvas > p, h3 {
	padding-left: 20px;
	padding-right: 20px;
}

.cityname {
	text-align: center;

}

.tileContainer {
	padding: 8px;
}

.tile {
	display: inline-block;
	width: 80px;
	height: 110px;
	border-radius: 5px;
	background-color: #eee;
}

.navText {
	color: black;
}

.loginFields {
	display: inline-block;
	text-align: left;
}
img#logo{
	float: left;
	padding: -50px;
	display: flex;
	width: 20%;
	z-index: 1;
}
img:hover{
	background: rgba(206, 206, 216, 0.2); 
	border-radius: 50px;
}
nav.navbar.navbar-default{
/*	background: linear-gradient(rgba(63, 63, 191, .73), rgba(63, 63, 191, 0.23));
	z-index: 1;
	position: fixed;
}*/
	background: rgba(165, 165, 165, .6);
}
.tile > img {
	margin: 0px auto;
	text-align: center;
}

