<div class="canvas">
<p ng-model="userController.weather.data.temp_f">{{userController.weather.data.temp_f}}</p>
        <h3 class="cityname">Denver, CO</h3>
        <div class="tileContainer">
            <!-- <div class="tile" id ="test" ng-model="userController.weather.data.temp_f">{{userController.weather.data.temp_f}}</div> -->

            <!-- hourly -->
            <div id="hourly-tiles">
                <div class="tile"></div>
                <div class="tile"></div>
                <div class="tile"></div>
                <div class="tile"></div>
                <div class="tile"></div>
            </div>
            <!-- 10 day -->
            <div id="forecast-tiles">
                <div class="tile"></div>
                <div class="tile"></div>
                <div class="tile"></div>
                <div class="tile"></div>
                <div class="tile"></div><br>
                <div class="tile"></div>
                <div class="tile"></div>
                <div class="tile"></div>
                <div class="tile"></div>
                <div class="tile"></div>
            </div>
        </div>
    </div>