	<div class="canvas">
		<div class="loginFields">
			<h3>Log In</h3>
			<form class="navbar-form navbar-left" role="search">
			  	<div class="form-group">
			    	<input type="text" class="form-control" placeholder="Email">
			    	<input type="text" class="form-control" placeholder="Password">
			  	</div>
			  	<button type="submit" class="btn btn-default">Submit</button>
			</form>
<!-- 		</div>
		<div> -->
			<br>
			<h3>Sign Up</h3>
			<form class="navbar-form navbar-left" role="search">
			  	<div class="form-group">
			  		<!-- username will go here eventually 
			    	<input type="text" class="form-control" placeholder="Username"> -->
			    	<input type="text" class="form-control" placeholder="Email">
			    	<input type="text" class="form-control" placeholder="Password">
			    	<input type="text" class="form-control" placeholder="First name">
			    	<input type="text" class="form-control" placeholder="Last name">
			    	<input type="text" class="form-control" placeholder="Home location">
			  	</div>
			  	<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>