<div class="canvas">

	<div class="row">

		<div class="container col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">

			<h3 class="text-center">Signup</h3>
			<form ng-submit="sc.signup(newUser)">
				<div class="form-group">

					<input type="text" ng-model="sc.new_user.username" class="form-control" placeholder="Username">
				</div>
				<div class="form-group">
					<input type="text" ng-model="sc.new_user.default_location" class="form-control" placeholder="Default Zip Code">

				</div>
				<div class="form-group">
					<input type="email" ng-model="sc.new_user.email" class="form-control" placeholder="Email" required>
				</div>
				<div class="form-group">
					<input type="password" ng-model="sc.new_user.password" class="form-control" placeholder="Password" required>
				</div>
					<input type="submit" value="Sign Up" class="btn btn-block btn-info">
			</form>

		</div>

	</div>

</div>