<div class="canvas">
	<div class="row">
		<div class="resort-box col-md-12">

		        <select ng-model="selectedResort" ng-change="ski.getSkiWeather(selectedResort)" data-ng-options="resort.zip_code as resort.name for resort in ski.allResorts | orderBy: 'name'">
		        	<option value="">Select Resort</option>
		        </select>
		        <br>
		        <!-- <h3 class="cityname">{{selectedResort}}</h3> -->

	    </div>

		<div class="resort-box col-md-12">




	        <h3 class="cityname">{{ski.skiWeather.data[0].display_location.city}}</h3>

	        

	        <div class="resort-tile slideIn first">
	        	<h6>Current Temperature</h6>
	        	{{ski.skiWeather.data[1][0].temp.english}}
	        </div>

	        <div class="resort-tile slideIn second">
	        	<h6>Current Snowfall</h6>
	        	{{ski.skiWeather.data[1][0].snow.english}}
	        </div>

	        <div class="resort-tile slideIn third">
	        	<h6>Current Wind Speed</h6>
				{{ski.skiWeather.data[1][0].wspd.english}}
	        </div>

	        <form id="add-resort-form">

		        <input type="submit" id="add-resort-submit" class="fav-resort-button" ng-click="ski.addResort(main.currentUser().id, selectedResort)" value="Add to Favorites">

	        </form>

	    </div>

	    <div class="row">
	    	<div class="resort-box col-md-12" ng-repeat="resort in ski.savedResorts">


	        <!-- <h3 class="cityname">{{ski.skiWeather.data[0].display_location.city}}</h3> -->

	        <h3 class="cityname">{{resort.name}}</h3>

	        <div class="resort-tile slideIn first">
	        	<h6>Current Temperature</h6>
	        	{{ski.skiWeather.data[1][0].temp.english}}
	        </div>

	        <div class="resort-tile slideIn second">
	        	<h6>Current Snowfall</h6>
	        	{{ski.skiWeather.data[1][0].snow.english}}
	        </div>

	        <div class="resort-tile slideIn third">
	        	<h6>Current Wind Speed</h6>
				{{ski.skiWeather.data[1][0].wspd.english}}
	        </div>

	        <button class="fav-resort-button" ng-click="ski.getSavedResorts()">

	    </div>
	    </div>

    </div>
</div>


       <!-- <div class="tile slideIn first">
            <p class="tile-hour">{{weather.weather.data[1][0].FCTTIME.civil}}</p>
            <img src="{{weather.weather.data[1][0].icon_url}}">
            <p class="tempreading">
            {{weather.weather.data[1][0].temp.english}}</p>
        </div> -->







