<div class="canvas">
	<br>
	<h3>Welcome to Collie Weather</h3>
	<p class ="welcome-text">A Colorado weather app that allows you to customize your app to your urban and skiing needs. SignUp today to plan your skiing trip for tomorrow! </p>
	<br>
	<div class="row">
		<div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1">
			<a href="/signup" class="button welcome-button">Signup</a>
		</div>
		<div class="col-md-5 col-sm-5 col-xs-5">
			<a href="/login" class="button welcome-button">Login</a>
		</div>
	</div>
</div>

