	<div class="canvas">
		<br>
		<h3>Welcome to Collie Weather</h3>
		<p>Instructions go here. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae dicta molestias maiores ab quos doloremque sed veniam cum architecto aliquid iure praesentium minus quasi, nisi porro reprehenderit, nostrum, dolore iste.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur repellendus, harum reiciendis quia voluptate itaque porro. Cumque et dolor, maxime quidem reiciendis saepe illo iste, sunt doloribus eligendi nobis voluptas.</p>
		<br>
		<p>Our goals... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, ratione, deserunt. Iste temporibus id, aut molestias, reprehenderit repellat corporis saepe sapiente aperiam dignissimos iure illo unde optio ipsa necessitatibus beatae.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quis, fugit est perspiciatis eaque aut atque laudantium, possimus blanditiis rem quam dignissimos modi dolorem mollitia recusandae ipsam iste doloribus accusantium.</p>
	</div>