<div class="canvas">
	<br>
	<h3>Welcome to Collie Weather</h3>
	<p class ="welcome-text">A Colorado weather app that allows you to customize your app to your urban and skiing needs. SignUp today to plan your skiing trip for tomorrow! </p>
	<br>
	<div class="row">
		<div id="signup-btn" class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1">
			<a href="/signup" class="button welcome-button"><strong>SIGNUP</strong></a>
		</div>
		<div id="login-btn" class="col-md-5 col-sm-5 col-xs-5">
			<a href="/login" class="button welcome-button"><strong>LOGIN</strong></a>
		</div>
        <br>
        <div class="centered">
            <!-- How we did it modal -->
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 centered"><a class="tech-btn btn" data-toggle="modal" data-target=".bs-example-modal-lg">How We Did It</a></div>

                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    
                      <div class="modal-body">
                     
                      <H2>How We Did It</H2>
                      <h4>Technologies:</h4>
                       <p>We utilized Express and Node on the back end to extend JavaScript's reach. For our database, we used SQL/Sequelize which made our interconnected model possible. Angular was crucial on the front end, we leaned heavily on the directives to populate our weather information. Pulling in several Bootstrap elements saved us time and made our site more visually appealing. Lastly, this group project could not have been coordinated or completed without GitHub (shout out to SourceTree for the helpful visualization).</p>

                        <p>Plans for future: In the future, we would like to add other activities (ex. kayaking) which will take users location input and display different weather information (ex. recent rainfall). We'd also like for users to be able to customize their general weather display. Some users may want to see a more specific weather information while others prefer a cleaner design with minimal info.</p>

                        <h6>Contributors: Merry Schurr, Micah Wierenga, Guy Liechty and Larry Kraus</h6>
             
              </div>
            </div>
          </div>
        </div>
    </div>
	</div>



<!-- Tech Modal -->
<!-- <div class="container">
    <div class="row">
        </div>
            <div class="row">

                <button class="tech-btn" data-toggle="modal" data-target=".bs-example-modal-lg">How We Did It</button>

                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    
                      <div class="modal-body">
                     
                      <H2>Battery Low!</H2>
                      <h4>Your Laptop battery is less then 10%.Recharge the battery.</h4>
             
              </div>
            </div>
          </div>
        </div>
    </div>
</div> -->
<!-- End Tech Modal -->

<!-- Modal -->

<div class="container modal-container">
	<div class="row modal-row">
    
    
	<div id="myModal" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
 
                <div class="modal-header">
                    <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                    <h2 class="modal-title center-block">Team COllieWeather</h2>
                </div>
                <div class="modal-body">
                    <div class="row row-faces">

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="hovereffect">
                                <img class="img-responsive faces" src="http://i.imgur.com/PvpXwWh.png">
                                <div class="overlay">
                                   <a class="info" href="#">portfolio</a>
                                </div>
                                <br>
                                <span class="names">Merry Schurr</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="hovereffect">
                                <img class="img-responsive faces" src="http://i.imgur.com/QmZ2fHx.png">
                                <div class="overlay">
                                   <a class="info" href="http://www.larrykraus.com">portfolio</a>
                                </div>
                                <br>
                                <span class="names">Larry Kraus</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="hovereffect">
                                <img class="img-responsive faces" src="http://i.imgur.com/WA3EDl8.png">
                                <div class="overlay">
                                   <a class="info" href="http://www.guyliechty.com">portfolio</a>
                                </div>
                                <br>
                                <span class="names">Guy Liechty</span>
                            </div>
                        </div>

                        <div class="facebox col-md-3 col-sm-3 col-xs-3">
                            <div class="hovereffect">
                                <img class="img-responsive faces" src="http://i.imgur.com/MinncjX.png">
                                <div class="overlay">
                                   <a class="info" href="http://www.micahwierenga.com">portfolio</a>
                                </div>
                                <br>
                                <span class="names">Micah Wierenga</span>
                            </div>
                        </div>
                		
                    </div>
            		<hr/>
					<p>Collie Weather was designed by four developers in Colorado who were sick and tired of user-unfriendly, overly complex, and maddeningly abstruse weather apps.</p>
					<p> 'Hey', they said as a group, 'can't there be a simple app, to tell me basic things like temperature and precipitation, right where I live, or where I'm going for the weekend?' They quickly devised a scheme, and hit the whiteboard, ideas cascading from their permanent markers like buggy error messages populating the console.</p>
					<p> 'No one wants ALL the weather info you can get, but some want more than others,' Larry thought, outloud, stroking the stubble on his chin meditatively. 'Let the people decide,' Larry said with raised eyebrows and crossed arms.</p>
					<p> The fully-customizable, user-friendly and activity-specific weather app was born.</p>
                </div><!-- /.modal-body -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.myModal -->
    </div><!-- /.row -->
</div><!-- /.container -->
</div>
    
		
